h1{
font-family: 'IBM Plex Mono', monospace;
}
.ham{
  color:Red
}
.potato{
  color:orange
}
.turkey{
  color:yellow
}
.cranberry{
  color:green
}
.pasta{
  color:blue
}
.salad{
  color:indigo
}
.fruit{
  color:violet
}
.container{
  width:1000px
}
