h1{
font-family: 'IBM Plex Mono', monospace;
text-align: center;
}
/* Need help adding a backgrounf image */
body{
  background-image:url(Pro-background.jpg);
  background-size: cover;
  margin:0
}
.container{
  width:inherit;
  align-self: center;
}
.menuItem{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}
.menuItem li{
  display:inline;
  float:left;
  border-right: 1px solid white
}
.menuItem li a{
  display: block;
  color:white
  text-align:center;
  padding:35px 50px;
  text-decoration: none;
}
.menuItem li a:hover {
  background-color: #111
}
.active{
  background-color: maroon
}
#signIn{
float:right;
}
.home{
  font;
}
.task-name{

}
.progress{
  float:right;
  background-color: red;
  border-bottom: 1px solid white;
  font-size: 25px;font-style:Impact body copy;
  width:160px;
  height:40px;
  text-align:center;
  margin-right: 50px;
  padding-top: 18px;
  border-radius: 25px;
}
.task{
  clear:both;
  margin:10px;
  border-bottom: 1px solid black;
  font-size: 40px;
}
#contact{
  float:right;
}
.imageURL{
  height:60px;
  width:80px;
}
.check{
  height:20px;
  width:20px;
}
.option{
  float:right;
}
